*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box{
    height: 200px;
    width: 200px;
    background: red;

    animation-name: boxanimation;
         
     animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
    
}

@keyframes boxanimation {

    to{

        transform: rotate(360deg) scale(3) translate(-100px,-100px);
        border-radius: 50%;
    }

}