#container{
    height: 500px;
    width: 100%;
    border: 1px solid #000;
}


#box{
    height: 200px;
    width: 200px;
    background: red;
    /* position: relative;
    top: 100px;
    left: 100px; */
    position: absolute;
    top: 100px;
    left: 100px;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: green;
     position: absolute;
    top: 150px;
    left: 150px;
 } 

 #box3{
    height: 200px;
    width: 200px;
    background-color: rgb(60, 25, 155);
    position: absolute;
    top: 200px;
    left: 280px;
    /* here we can give z-index -> to get on front  */
    z-index: 1;
 }

 #box4{
    height: 200px;
    width: 200px;
    background: red;
    position: absolute;
    top: 100px;
    left: 500px;

 }

  #box5{
    height: 200px;
    width: 200px;
    background:green;
    position: absolute;
    top: 150px;
    left: 400px;

 }

 article{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background: #000;

 }

 

